In [89]:
import pandas as pd
d=pd.read_csv(r"C:\Users\user\D.csv")

In [90]:
d.head()

   id  A  B    C    D
0   0  9  4  210  861
1   1  4  4  240  826
2   2  9  4  242  893
3   3  6  4  235  841
4   4  8  4  237  871

In [91]:
from sklearn.linear_model import ElasticNet
import mlflow
import mlflow.sklearn
from sklearn.model_selection import train_test_split

In [92]:
alpha=1.0
max_iter=1000
l1_ratio=0.5
positive=False

In [93]:
model=ElasticNet(alpha=alpha,max_iter=max_iter,l1_ratio=0.5,positive=False)
X=d[['A','B','C']]
y=d['D']

In [94]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [95]:
model.fit(X_train,y_train)

ElasticNet()

In [96]:
y_pred=model.predict(X_test)

In [97]:
from numpy import sqrt
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
mae=mean_absolute_error(y_test,y_pred)
rmse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print ('mae', mae)
print ('rmse', rmse)
print ('r2', r2)


mlflow.log_param('max_iter', max_iter)
mlflow.log_param('alpha',alpha)
mlflow.log_param('l1_ratio',l1_ratio)
mlflow.log_param('positive',positive)  

mlflow.log_metric('mae', mae)
mlflow.log_metric('rmse', rmse)
mlflow.log_metric('r2', r2)

mae 5.021403214114809
rmse 36.071578698671864
r2 0.9583783585490688